body {
    font-family: Arial, sans-serif;
    background-color: #ffffdd;
    text-align: center;
}

h1,h2,h3,h4,h5,h6,p {
    text-align: center;
}

table {
    text-align: center;
    width: 50%;
    border-collapse: collapse;
    margin-top: 20px;
    margin: 0 auto;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: center;
}
.table_sun{
    background-color: rgba(255, 128, 0, 0.5)
}

.table_moon{
    background-color: rgba(188, 243, 252, 0.7)
}

.table_star{
    background-color: rgba(242, 245, 49, 0.7)
}
.table_nether{
    background-color: rgba(153, 17, 17, 0.7)
    font-color:white;
}
.table_end{
    background-color: rgba(119, 92, 170, 0.7) 
}
/* CSS 樣式 */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.sidebar button {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.sidebar button:hover {
    background-color: #45a049;
}

summary{
    padding: 5px
}

.table_commands {
    padding-left: 100px;
    width: 65%; /* 第一個表頭的寬度為表格寬度的 30% */
}

.table_commands_th1 {
    width: 20%; /* 第一個表頭的寬度為表格寬度的 30% */
}

.table_commands_th2 {
    width: 30%; /* 第二個表頭的寬度為表格寬度的 40% */
}

.table_commands_th3 {
    width: 50%; /* 第三個表頭的寬度為表格寬度的 30% */
}
